<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
<meta charset="ISO-8859-1">
<title>TP04 PV CaballeroLuis 2</title>
</head>
<body>
	<div class="encabezado">
		<div class="titulo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h1>Fundación Mascotas</h1>
		</div>
		<div class="navegador">
			<nav class="navegador col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<a class="nav-link" href="index.html">Home</a> <a class="nav-link"
					href="adopciones.html">Adopciones</a> <a class="nav-link"
					href="veterinarias.html">Veterinarias</a> <a class="nav-link"
					href="voluntariado.html">Voluntariado</a>
			</nav>
			<div class="input-group row">
				<input type="text" class="form-control"
					placeholder="¿Que desea buscar?" aria-label="Recipient's username"
					aria-describedby="button-addon2">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="button"
						id="button-addon2">Buscar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="cuerpo">
	<div class="row esp col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<table class="table col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 " ALIGN="center">
			<thead class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<tr>
					<th scope="col">Veterinaria</th>
					<th scope="col">Médicos</th>
					<th scope="col">Atenciones</th>
					<th scope="col">Días y Horarios</th>
				</tr>
			</thead>
			<tbody class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<tr>
					<th scope="row">Pupy</th>
					<td>Díaz Antonio</td>
					<td>Cirugías</td>
					<td>Lu a Vie 8 a 13</td>
					
				</tr>
				<tr>
					<th scope="row">Patitas</th>
					<td>Vélez María</td>
					<td>Atenciones-Cirugía</td>
					<td>Lu-Ma-Jue 9 a 18</td>
					
				</tr>
				<tr>
					<th scope="row">Central</th>
					<td>B. Ana-R</td>
					<td>Atenciones</td>
					<td>Ma-Jue-Vie 8 a 13</td>
					
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	<div class="publicidad">
		<div class="row">
			<div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
				<img src="../static/img/vitalcan.jpg" class="img-rounded" alt="logoA"
					width="120" height="120px">

			</div>
			<div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
				<img src="../static/img/dogui.jpg" class="img-rounded" alt="logoA" width="120"
					height="120px">

			</div>
			<div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
				<img src="../static/img/liq.png" class="img-rounded" alt="logoA" width="120"
					height="120px">

			</div>
			<div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
				<img src="../static/img/dogchow.png" class="img-rounded" alt="logoA"
					width="120" height="120px">

			</div>
		</div>
	</div>
	<div class="footer col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<h5>Avda.Pedro Ortíz de Zárate N° 455 - Tel 388 4789555</h5>
		<div class="row sociales">
			<a class="nav-link" href="#"><img src="../static/img/facebook.png"
				class="ico" alt="logoA" width="35" height="35"></a> <a
				class="nav-link" href="#"><img src="../static/img/instagram.png"
				class="ico" alt="logoA" width="35" height="35"></a>
		</div>
	</div>
</body>
</html>